.container {
    width: 100%; /* El tama침o del contenedor que desees */
    max-width: 100%; /* El ancho m치ximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar verticalmente */
    height: 100%; /* Altura del 100% de la ventana */
    background-color: rgb(24, 37, 73);
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

ion-item.custom-bg {
   --background: rgb(100, 100, 12);
   border-radius: 10px;
   color: rgb(255, 255, 255);
   font-size: 15px;
}  


.text-left {
    text-align: left !important;
    font-size: 90%;
  }

.letras-inicio {
    font-size: 200%;

}

.letras-inicio-1 {
    font-size: 100%;
}


.custom-button {
    border-radius: 25px;
    border: 3px solid #FFB800;
    background-color: transparent !important;
    color: white;
  }
  

  .custom-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: white;
  }


ion-button {
    --background: transparent !important;
    --border-radius: 0 !important;
    --border-width: 0 !important;
    --color: #000 !important; 
    --padding-start: 0 !important;
    --padding-end: 0 !important;
  }

  ion-item ion-label {
    text-align: center;
  }


  ion-card-content {
    --background:transparent;
  }

  /* A침ade estos estilos en tu archivo .scss asociado a tu p치gina */
.custom-card {
  background-color: #FFD700; /* Amarillo oscuro para el fondo exterior */
}

.custom-content {
  background-color: rgb(100, 100, 12); /* Azul marino para el fondo interior */
  color: white; /* Texto en blanco para mejor contraste en el fondo azul */
}
